<section class="bg-cBlack py-20 grid place-items-center space-y-6 px-2">
  <h2
    class="text-center text-3xl md:text-5xl font-extrabold italic text-white max-w-5xl"
  >
    Algunas <span
      class="relative after:absolute after:w-full after:h-2 after:bg-purple-600/50 after:bottom-4 after:left-1 z-10 after:-z-10"
      >publicaciones</span
    > de quienes hacen parte...
  </h2>

  <div
    class="grid grid-cols-2 gap-6 lg:grid-cols-3 place-items-center space-x-6 pt-10 px-2"
  >
    <img
      class="max-w-[350px] w-full max-h-[465px] h-full"
      src="/books/diana.webp"
      alt=""
    />
    <img
      class="max-w-[350px] w-full max-h-[465px] h-full"
      src="/books/libro-ernesto.webp"
      alt=""
    />
    <img
      class="max-w-[350px] w-full max-h-[465px] h-full"
      src="/books/pueblos-arrasados-memorias-del-desplazamiento-forzado-en-el-castillo.webp"
      alt=""
    />
  </div>
</section>
