<section
  class="sandbox__carousel max-w-7xl mx-auto p-10 relative grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10"
>
  <div class="embla__slide">
    <header class="absolute top-0 left-0">
      <img
        src="/user.svg"
        alt="puede ser la imagen de un icono de un usuario"
      />
    </header>
    <img
      class="embla__slide__img"
      src="/people/humberto-de-la-calle.webp"
      alt=""
    />
    <footer
      class="absolute bottom-0 left-0 right-0 h-14 flex items-center justify-center"
    >
      <p class="text-center text-white font-bold">Humberto De La Calle</p>
    </footer>
  </div>
  <div class="embla__slide">
    <header class="absolute top-0 left-0">
      <img
        src="/user.svg"
        alt="puede ser la imagen de un icono de un usuario"
      />
    </header>
    <img
      class="embla__slide__img"
      src="/people/ernesto-rojas-morales.webp"
      alt=""
    />
    <footer
      class="absolute bottom-0 left-0 right-0 h-14 flex items-center justify-center"
    >
      <p class="text-center text-white font-bold">Ernesto Rojas Morales</p>
    </footer>
  </div>
  <div class="embla__slide">
    <header class="absolute top-0 left-0">
      <img
        src="/user.svg"
        alt="puede ser la imagen de un icono de un usuario"
      />
    </header>
    <img
      class="embla__slide__img"
      src="/people/alberto-pardo-barrios.webp"
      alt=""
    />
    <footer
      class="absolute bottom-0 left-0 right-0 h-14 flex items-center justify-center"
    >
      <p class="text-center text-white font-bold">Alberto Pardo Barrios</p>
    </footer>
  </div>
  <div class="embla__slide">
    <header class="absolute top-0 left-0">
      <img
        src="/user.svg"
        alt="puede ser la imagen de un icono de un usuario"
      />
    </header>
    <img
      class="embla__slide__img"
      src="/people/laura-valencia-de-armas.webp"
      alt=""
    />
    <footer
      class="absolute bottom-0 left-0 right-0 h-14 flex items-center justify-center"
    >
      <p class="text-center text-white font-bold">Laura Valencia de Armas</p>
    </footer>
  </div>
  <div class="embla__slide">
    <header class="absolute top-0 left-0">
      <img
        src="/user.svg"
        alt="puede ser la imagen de un icono de un usuario"
      />
    </header>
    <img class="embla__slide__img" src="/people/hernan-estupinan.webp" alt="" />
    <footer
      class="absolute bottom-0 left-0 right-0 h-14 flex items-center justify-center"
    >
      <p class="text-center text-white font-bold">Hernán Estupiñán</p>
    </footer>
  </div>
</section>

<style>
  .embla__slide {
    width: 100%;
    max-width: 350px;
    position: relative;
  }
  .embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  footer {
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  }
</style>
