---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import Footer from '@/components/footer/Footer.astro'

const pensemosDiferente = await getCollection('pensemos-diferente')
---

<Layout title="Pensemos diferente - Podcast">
  <main class="bg-cBlack pb-10 px-2">
    <a href="/" class="flex w-full max-w-max mx-auto justify-center">
      <img
        src="/logo-circle-black.svg"
        alt="puede ser una imagen del logo de pensemos diferente"
        class="invert max-w-xs w-full"
      />
    </a>

    <h1
      class="text-4xl md:text-6xl w-full font-bold italic pb-4 text-white text-center"
    >
      Episodios
    </h1>

    <ul
      class="sandbox__carousel max-w-7xl mx-auto p-10 relative grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 place-items-center sm:place-items-stretch"
    >
      {
        pensemosDiferente.map(item => (
          <li class="embla__slide">
            <a
              class="w-full h-full"
              href={`/books/pensemos-diferente/cap/${item.slug}`}
            >
              <header class="absolute top-0 left-0">
                <img
                  src="/user.svg"
                  alt="puede ser la imagen de un icono de un usuario"
                />
              </header>
              <img class="embla__slide__img" src={item.data.image} alt="" />
              <footer class="absolute bottom-0 left-0 right-0 h-14 flex items-center justify-center">
                <p class="text-center text-white font-bold">
                  {item.data.title}
                </p>
              </footer>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
  <Footer />

  <style>
    .embla__slide {
      width: 100%;
      max-width: 350px;
      position: relative;
    }
    .embla__slide__img {
      display: block;
      height: var(--slide-height);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    footer {
      background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
    }
  </style>
</Layout>
