---
import HeroSlider from './HeroSlider.astro'
---

<main class="bg-cYellow min-h-screen">
  <h1 class="text-center italic font-extrabold text-6xl py-10">
    Pensemos
    <span class="text-4xl flex items-center space-x-3 justify-center">
      <span class="h-[1px] w-10 bg-black"></span>
      <span>diferente</span>
      <span class="h-[1px] w-10 bg-black"></span>
    </span>
  </h1>

  <p class="max-w-5xl mx-auto text-center font-light text-2xl">
    <strong class="font-bold"
      >Cuando se combina la lógica y la imaginación el pensamiento es diferente.</strong
    > Permite resolver asuntos complejos de una manera directa y creativa. Aparecen
    soluciones distintas a las que se proponen como obvias. Este tipo de pensamiento
    se conoce comúnmente como “pensar fuera de la caja”. Implica el no seguir simplemente
    la tendencia predominante, sino romperla, ser disruptivo. Aquí, en este espacio
    se presentan amenas conversaciones entre conocedores de los temas sociales, económicos
    y políticos exponiendo novedosas soluciones a problemas tradicionales.
  </p>

  <a
    href="#"
    class="bg-black hover:bg-black/50 transition-colors text-white py-3 px-5 rounded-full font-bold text-2xl mx-auto block w-max my-10"
    >Unirme a esta iniciativa</a
  >

  <HeroSlider />
</main>
