<section class="sandbox__carousel max-w-7xl mx-auto px-10 relative pb-10">
  <div class="embla">
    <div class="embla__viewport">
      <div class="embla__container cursor-grab">
        <div class="embla__slide">
          <img
            class="embla__slide__img"
            src="https://www.figma.com/file/CwpSwxSUO6kOzETHUZWDHo/image/94d8443b7361a4839d1778d4c81a39d667c14fd4"
            alt=""
          />
        </div>
        <div class="embla__slide">
          <img
            class="embla__slide__img"
            src="https://s3-alpha-sig.figma.com/img/4af7/4260/e878b91cc22a98a1a7f9550388bc8d5a?Expires=1702857600&Signature=O6FLJj8t-uGsdXb58Jj06bGxhMCt2IkEY8HrTXw1CohY3DMpErs7FecpqCkTVjRfgGKOZ04rqyajAvoX1uMyBL6wTRxbrWjcZ-q13Mufyoa0E805cO6cJDxE4cCS3G4MF-ziRMXmEoAvYcC7LTvO5RJ1J2VTvA7QOg-oJBNKrD~NT0hQaBjFsezTIYJtVitbE20LdoxBcKh30ShSsdveGiJExm4qQxC-xR-y-ckHkeetC-~89E81~~Rxan2UZyot~PYh4BE2IBzx~MfwHJvd2c~~ZqT8Au5T4bXH01CT9amA1PPuANnCtkXHdBVcx5tQKGZTp7WHxjhuraSZWrU9Xw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt=""
          />
        </div>
        <div class="embla__slide">
          <img
            class="embla__slide__img"
            src="https://s3-alpha-sig.figma.com/img/d9f3/c289/8d936507f0fedc9589b398a896ec8df6?Expires=1702857600&Signature=l9SznA7JQHiPJnA5UpGmqU4qFMBChbCFi2eOvhp8gNPRpq7QhPC8xUsCfAZbe-d4a2NmkPlpxiTu6HrKiaIPEQGtksfS7MtkmVxZlJkOpE4JAZg11td4szE5~EyQVSnjuF~mDY~o0efgU0y08V1SS5hDsOu1TLEFTxpUV5LFk4d3A93mIuJqOwZvlHVK42PR88qBxp1fmniEWcRjE5ovV6hd2tvp3R~V8D~5iKDc4ELHOrMoiMqfqADrFi723GAmXxTEXP0euQguKz0nnVPIeIAJMXCot5bOMt-f6P5th5xQfyM0l27kf1Cglvg7XdFqxc0LX~aboLObj857c3xs2w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt=""
          />
        </div>

        <div class="embla__slide">
          <img
            class="embla__slide__img"
            src="https://www.figma.com/file/CwpSwxSUO6kOzETHUZWDHo/image/94d8443b7361a4839d1778d4c81a39d667c14fd4"
            alt=""
          />
        </div>
        <div class="embla__slide">
          <img
            class="embla__slide__img"
            src="https://s3-alpha-sig.figma.com/img/4af7/4260/e878b91cc22a98a1a7f9550388bc8d5a?Expires=1702857600&Signature=O6FLJj8t-uGsdXb58Jj06bGxhMCt2IkEY8HrTXw1CohY3DMpErs7FecpqCkTVjRfgGKOZ04rqyajAvoX1uMyBL6wTRxbrWjcZ-q13Mufyoa0E805cO6cJDxE4cCS3G4MF-ziRMXmEoAvYcC7LTvO5RJ1J2VTvA7QOg-oJBNKrD~NT0hQaBjFsezTIYJtVitbE20LdoxBcKh30ShSsdveGiJExm4qQxC-xR-y-ckHkeetC-~89E81~~Rxan2UZyot~PYh4BE2IBzx~MfwHJvd2c~~ZqT8Au5T4bXH01CT9amA1PPuANnCtkXHdBVcx5tQKGZTp7WHxjhuraSZWrU9Xw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt=""
          />
        </div>
        <div class="embla__slide">
          <img
            class="embla__slide__img"
            src="https://s3-alpha-sig.figma.com/img/d9f3/c289/8d936507f0fedc9589b398a896ec8df6?Expires=1702857600&Signature=l9SznA7JQHiPJnA5UpGmqU4qFMBChbCFi2eOvhp8gNPRpq7QhPC8xUsCfAZbe-d4a2NmkPlpxiTu6HrKiaIPEQGtksfS7MtkmVxZlJkOpE4JAZg11td4szE5~EyQVSnjuF~mDY~o0efgU0y08V1SS5hDsOu1TLEFTxpUV5LFk4d3A93mIuJqOwZvlHVK42PR88qBxp1fmniEWcRjE5ovV6hd2tvp3R~V8D~5iKDc4ELHOrMoiMqfqADrFi723GAmXxTEXP0euQguKz0nnVPIeIAJMXCot5bOMt-f6P5th5xQfyM0l27kf1Cglvg7XdFqxc0LX~aboLObj857c3xs2w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt=""
          />
        </div>
      </div>

      <div
        class="w-full flex justify-between items-center absolute top-[40%] z-10 left-0 right-0 px-2"
      >
        <button class="embla__prev text-7xl font-thin">&#8249;</button>
        <button class="embla__next text-7xl font-thin relative">&#8250;</button>
      </div>
    </div>
  </div>
</section>

<style>
  .embla {
    --slide-spacing: 40px;
    --slide-size: 33.33%;
    --slide-height: 19rem;
    padding: 1.6rem;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  }
</style>

<script>
  import EmblaCarousel from 'embla-carousel'

  const OPTIONS = { slidesToScroll: 'auto', containScroll: 'trimSnaps' }

  const emblaNode = document.querySelector('.embla')
  const viewportNode = emblaNode.querySelector('.embla__viewport')
  const prevButtonNode = emblaNode.querySelector('.embla__prev')
  const nextButtonNode = emblaNode.querySelector('.embla__next')

  // @ts-ignore
  const embla = EmblaCarousel(viewportNode, OPTIONS)
  prevButtonNode.addEventListener('click', embla.scrollPrev, false)
  nextButtonNode.addEventListener('click', embla.scrollNext, false)
</script>
