<section class="sandbox__carousel max-w-7xl mx-auto px-10 relative pb-10">
  <div class="embla">
    <div class="embla__viewport">
      <div class="embla__container cursor-grab">
        <div class="embla__slide">
          <img
            class="embla__slide__img"
            src="https://www.figma.com/file/CwpSwxSUO6kOzETHUZWDHo/image/94d8443b7361a4839d1778d4c81a39d667c14fd4"
            alt=""
          />
        </div>
        <div class="embla__slide">
          <img
            class="embla__slide__img"
            src="https://s3-alpha-sig.figma.com/img/5016/51fc/996b44b66bd6e402b57b669434690085?Expires=1704067200&Signature=eiCmIGAPg2uFhtTVc7NSuEyEe~7iQokeZRGFmiYoxH1k3eYhj-V~R-gNATMSLfK4L2f~RNuaRjMv8kzoax5TbjSWAJx4gcmHFYqLPXx7vZ7OyenTFJ12NdRi5uekYX3Ohp1G-wGEJsVA-RaO~~vRcBYaiT3A~BaQqmH3RS0WKrbHSHfZhsOV6r1~86pEIM~tHvwrixB~Pjdcms2zCiz2L-nrp3ka1aOLLg11dIoay4GkdNqk3N3~qul756PGFkyXYBsWJ~E521Xluhh0AF0LDt1lewe~jtHxVPfUek6xAsTJN149j70N6vay703U3r0GofkLR88xLszE-6LPiBQFtA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt=""
          />
        </div>
        <div class="embla__slide">
          <img
            class="embla__slide__img"
            src="https://s3-alpha-sig.figma.com/img/d9f3/c289/8d936507f0fedc9589b398a896ec8df6?Expires=1704067200&Signature=ITO-DWpZNja9X9KhIYbf-tTGBiUgz~MH2fsL3GKqWAnO5zrblIesCFUywe8col5JzB3j65C--ywXyWBFTEReUtwV5hO~W56zqpsOdxIcsafyFzBERU7wU~DPEkIqd0TMjmZ0C4OqSWUnCX9KtBTrGFr6cEld-Oza232ZIh~3mDy9A~zrWlGWpClRpFbsTAWRv9xoBhaHolZDxpriK1EnnLcNSSQN~6f3caBAkUNlXaeZFgkda8DWT0mdCivHkRyu-VlY0JqBkaen40QpvXUaLeeiRgTo8Qgffsi4PjmESvzcCV7IMkcn1UDvF5KXAjkrTwZQFz04nuzPUaghzhRCtA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
            alt=""
          />
        </div>
      </div>

      <div
        class="w-full flex justify-between items-center absolute top-[40%] z-10 left-0 right-0 px-2"
      >
        <button class="embla__prev text-7xl font-thin">&#8249;</button>
        <button class="embla__next text-7xl font-thin relative">&#8250;</button>
      </div>
    </div>
  </div>
</section>

<style>
  .embla {
    --slide-spacing: 40px;
    --slide-size: 33.33%;
    --slide-height: 19rem;
    padding: 1.6rem;
  }

  @media (max-width: 768px) {
    .embla {
      --slide-size: 50%;
      --slide-height: 25rem;
    }
  }

  @media (max-width: 640px) {
    .embla {
      --slide-size: 100%;
      --slide-height: 25rem;
      padding: 1rem;
    }
  }

  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
    position: relative;
  }
  .embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  }
</style>

<script>
  import EmblaCarousel from 'embla-carousel'

  const OPTIONS = { slidesToScroll: 'auto', containScroll: 'trimSnaps' }

  const emblaNode = document.querySelector('.embla')
  const viewportNode = emblaNode.querySelector('.embla__viewport')
  const prevButtonNode = emblaNode.querySelector('.embla__prev')
  const nextButtonNode = emblaNode.querySelector('.embla__next')

  // @ts-ignore
  const embla = EmblaCarousel(viewportNode, OPTIONS)
  prevButtonNode.addEventListener('click', embla.scrollPrev, false)
  nextButtonNode.addEventListener('click', embla.scrollNext, false)
</script>
