---
import HeroSlider from './HeroSlider.astro'
import Button from '../Button.astro'
---

<main class="bg-cYellow px-2 lg:px-0">
  <img class="py-10 mx-auto max-w-sm w-full" src="/logo-v2.svg" />

  <p class="max-w-5xl mx-auto text-center font-light text-xl md:text-2xl">
    Pensar diferente, o pensar “fuera de la caja” es <strong class="font-bold"
      >hacerlo de forma no convencional, novedosa o desde una nueva perspectiva,
      para poder resolver problemas complejos.</strong
    >
  </p>

  <p class="max-w-5xl mx-auto text-center font-light text-xl md:text-2xl mt-5">
    Un ejemplo de pensamiento diferente es el ingenioso subterfugio encontrado
    al acertijo conocido como el problema de los 9 puntos. Fue necesario que
    alguien intentara salirse de la caja cuadrada formada por el contorno de los
    puntos, para lograr una solución, hasta entonces tenida como imposible.
  </p>

  <Button href="#" align="center" type="primary">
    Unirme a esta iniciativa
  </Button>

  <HeroSlider />
</main>
