---
import Button from '../Button.astro'
---

<section class="bg-black flex flex-col md:flex-row py-20 justify-center gap-10 items-center px-2">
  <img src="https://s3-alpha-sig.figma.com/img/3f44/f47d/a2aeaafc6269570e61bc622225d5b0ed?Expires=1704067200&Signature=bGUrK4ssS4e3QIlk-ciXTzEV-22yhwi0QvATA6pbvFJdqGNL0ieemu1Ju4zMzZWrYryvd2DHOFOmJOZtRV6m2xucevFxXjyg7RcAS9d77k53BdZ7wUyDITFKtL5R0QHvv6QJrD-cAiMTi1iOInHLd8MymTbK9VInJxtAiZIV7LKkXlQFWgGJHHAbRUlstOL3Cupi9~cGHVemns3OaAX2W9n~QbUd9JX391pr3MxjjCT6pbQQcbB9KshV-IWfStgjf3auf306SYFBbEKyjN~hqlBuRQKPRdObrfmEEhfYOPcempH8atN3R4Ed30PXARRq6dd0h2IOC6d1EDOrfafemw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
    class="w-full max-w-sm" />

  <article class="flex space-y-5 flex-col items-center md:items-start">
    <img
      class="w-full max-w-[200px] md:max-w-xs"
      src="https://s3-alpha-sig.figma.com/img/b2ca/5d63/d322953dba109cbc3a2430fbd4dbe803?Expires=1704067200&Signature=VBHdxR45wmurDAX2D8uPo5tR3sYQ9QZSjlDVb4ldx1VfynLbxG~KcWeN7xpM2Cbxm0hBR8AZiDbBuwVauo1CuwXZlmg~B6zNLO7lYbBCsl94YHeYmbVdEt0Or~gxDRwgkv0qV6skl2gpBNy0pTOZA2NrNWg~HEvifRP4yWNixURdht855MwWi-cWJ2717fEHlASiXOhDKAErnq8Kw3QpowcRk7oLFHPLDiKo1pBHZSuLKfGdnZ3MrBjkdcpXtVmkgJxg95RZPYbZcnrXu4MNfGPmHVmzNYBrKriIzJXZn5KPuMINnAiVBZ0fWW39Q~tIxLm1jOt8d6oGK~-ikjAQZw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />

    <p class="text-4xl italic text-white max-w-[532px] text-center md:text-left">Acompañanos a ver lo que logramos en este 2023.</p>

    <Button type="secondary" align="center:md:left" href="#">
      Ver resumen
    </Button>
  </article>

</section>
