---
import Button from '../Button.astro'
---

<section
  class="bg-black flex flex-col md:flex-row py-20 justify-center gap-10 items-center px-2"
>
  <img src="/spotify-caratula.webp" class="w-full max-w-sm" />

  <article class="flex space-y-5 flex-col items-center md:items-start">
    <img class="w-full max-w-[200px] md:max-w-xs" src="/spotify-logo.webp" />

    <p
      class="text-4xl italic text-white max-w-[532px] text-center md:text-left"
    >
      Acompañanos a ver lo que logramos en este 2023.
    </p>

    <Button type="secondary" align="center:md:left" href="#">
      Ver resumen
    </Button>
  </article>
</section>
