<section
  class="container px-2 mx-auto grid md:grid-cols-2 place-content-center items-center py-20 overflow-hidden gap-20"
>
  <div class="content">
    <h2 class="text-4xl font-lato font-bold mt-0">
      Humberto de la Calle <br />
      Pensemos diferente
    </h2>

    <p class="pt-5">
      Cuando se combina la lógica y la imaginación el pensamiento es diferente.
      Permite resolver asuntos complejos de una manera directa y creativa.
      Aparecen soluciones distintas a las que se proponen como obvias. Este tipo
      de pensamiento se conoce comúnmente como “pensar fuera de la caja”.
      Implica el no seguir simplemente la tendencia predominante, sino romperla,
      ser disruptivo. Aquí, en este podcast se presentan amenas conversaciones
      entre conocedores de los temas sociales, económicos y políticos exponiendo
      novedosas soluciones a problemas tradicionales.
    </p>
  </div>

  <div
    class="grid grid-flow-col grid-rows-2 grid-cols-3 gap-8 max-w-[250px] lg:max-w-lg p-10"
  >
    <div class="w-40 transform scale-110 -rotate-6">
      <img
        src="https://images.pexels.com/photos/6953870/pexels-photo-6953870.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        width="250"
        class="aspect-square object-cover w-full h-full rounded"
        alt=""
        loading="lazy"
      />
    </div>
    <div
      class="w-40 col-start-3 transform scale-75 rotate-6 translate-x-2 translate-y-15"
    >
      <img
        src="https://images.pexels.com/photos/6686442/pexels-photo-6686442.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="aspect-square object-cover w-full h-full rounded"
        width="250"
        alt=""
        loading="lazy"
      />
    </div>
    <div
      class="transform scale-150 translate-x-12 lg:translate-x-28 translate-y-6 w-40"
    >
      <img
        src="https://images.pexels.com/photos/4156283/pexels-photo-4156283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        width="250"
        class="aspect-square object-cover w-full h-full rounded"
        alt=""
        loading="lazy"
      />
    </div>
  </div>
</section>
