---
interface Props {
  type: 'primary' | 'secondary'
  align: 'left' | 'center' | 'right' | 'center:md:left'
  href: string
}

const { align, href, type } = Astro.props

const position = () => {
  switch (align) {
    case 'left':
      return 'mr-auto'
    case 'center':
      return 'mx-auto'
    case 'right':
      return 'ml-auto'
    case 'center:md:left':
      return 'md:ml-auto md:ml-0'
    default:
      return 'mx-auto'
  }
}

const typeButton = () => {
  switch (type) {
    case 'primary':
      return 'bg-black hover:bg-black/50'
    case 'secondary':
      return 'bg-transparent border border-white hover:bg-black/50'
    default:
      return 'bg-black hover:bg-black/50'
  }
}
---

<a
  href={href}
  class={`${typeButton()} transition-colors text-white py-3 px-5 rounded-full font-bold text-xl md:text-2xl block ${position()} w-max my-10`}
>
  <slot />
</a>
