<footer class="bg-cBlack">
  <div class="container mx-auto text-center py-5">
    <p class="text-white">
      Powered by <a
        href="https://vehement.co"
        target="_blank"
        class="text-white">Vehement</a>
    </p>
  </div>
</footer>
