---
import Logo from '/logo.webp'
---

<header class="w-full flex justify-start z-50 py-4 bg-cYellow">
  <div class="container mx-auto flex justify-center z-50 pb-10">
    <img src={Logo} alt="Logo" class="h-36 w-auto z-50" />
  </div>
</header>
