---
import heroImg from '/hero.webp'
---

<main class="bg-cYellow relative text-center lg:text-left">
  <div
    class="min-h-[calc(100vh-128px)] lg:-mt-12 container mx-auto grid gap-10 lg:gap-0 items-center place-content-center lg:grid-cols-2 max-w-7xl lg:pb-20"
  >
    <div class="z-10 lg:px-5">
      <span class="font-myriad text-3xl md:text-5xl lg:text-6xl stroke-text inline-block"
        >AUDIO PODCAST</span
      >
      <h1
        class="text-4xl text-cBlack md:text-6xl lg:text-8xl font-lato my-4 leading-none uppercase font-bold"
      >
        Pensemos diferente
      </h1>
      <p class="hidden md:block text-cBlack lg:text-lg">
        El podcast que desafía las convenciones y
        nos invita a explorar nuevas perspectivas.
      </p>
      <a
        href="#player"
        class="inline-block bg-cBlack/30 md:bg-cBlack backdrop-blur text-white md:text-cYellow hover:text-cYellow px-8 py-4 rounded-full uppercase font-bold mt-4 md:mt-10 hover:bg-cBlack md:hover:bg-cBlack/90 transition duration-300 ease-in-out"
      >
        Empezar a escuchar</a
      >
    </div>
    <div class="w-full h-full px-5 lg:px-0 max-w-3xl lg:max-w-none pb-20 lg:pb-0">
      <img
        width={600}
        class="object-contain object-center w-full h-full rounded-3xl shadow"
        src={heroImg}
        alt="Pensemos diferente"
      />
    </div>
  </div>
</main>

<style is:global>
  .stroke-text {
    -webkit-text-stroke: 1px black;
    stroke: 1px black;
    color: transparent;
  }
</style>
