<article class="bg-cYellow py-20">
  <div class="max-w-7xl mx-auto">
    <span class="font-myriad text-2xl lg:text-4xl text-transparent stroke-text block text-center">AUDIO LIBRO</span>
    <h2 class="text-center text-4xl lg:text-6xl uppercase font-myriad text-cBlack]">Colombia Posible</h2>
    <a
        href="#"
        class="block max-w-max mx-auto bg-cBlack/30 md:bg-cBlack backdrop-blur text-white md:text-cYellow hover:text-cYellow px-8 py-4 rounded-full uppercase font-bold mt-4 md:mt-10 hover:bg-cBlack md:hover:bg-cBlack/90 transition duration-300 ease-in-out"
        >
        Empezar a escuchar</a>
  </div>
</article>
