---
export interface Props {
  episodes: string[]
}

const { episodes } = Astro.props
---

<section class="bg-[#1d1d1d] py-20" id="player">
  <div
    class="grid gap-5 grid-cols-1 justify-center place-items-center max-w-7xl mx-auto px-2 lg:px-0"
  >
    {
      episodes.map(episode => (
        <iframe
          style="border-radius:12px"
          src={`https://open.spotify.com/embed/episode/${episode}?utm_source=generator&theme=0`}
          width="100%"
          height="152"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        />
      ))
    }
  </div>
</section>
