<section class="bg-[#1d1d1d] py-20" id="player">
  <div
    class="grid gap-5 grid-cols-1 justify-center place-items-center max-w-7xl mx-auto px-2 lg:px-0"
  >
    <!-- cap 1 -->
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/episode/7pgY6Q2RkkYk87xqu2NQkZ?utm_source=generator&theme=0"
      width="100%"
      height="152"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>

    <!-- cap2 -->
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/episode/00Bms3oqTndjrGSq8izXJV?utm_source=generator&theme=0"
      width="100%"
      height="152"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>

    <!-- cap3 -->
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/episode/3Vimx6htFADimU2ssQ9nIl?utm_source=generator&theme=0"
      width="100%"
      height="152"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>

    <!-- cap4 -->
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/episode/3zlg2NAq0RbWVdUDaEkiqs?utm_source=generator&theme=0"
      width="100%"
      height="152"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>

    <!-- cap5 -->
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/episode/6HEYI3gh24vN9GavwocUmV?utm_source=generator&theme=0"
      width="100%"
      height="152"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>

    <!-- cap6 -->
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/episode/2nw2HBlM4Gtg5p5iQz7nTp?utm_source=generator&theme=0"
      width="100%"
      height="152"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>

    <!-- cap7 -->
    <iframe
      style="border-radius:12px"
      src="https://open.spotify.com/embed/episode/74knKjuyWlmH1FZc4gZhAi?utm_source=generator&theme=0"
      width="100%"
      height="152"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"></iframe>
  </div>
</section>
