<footer class="bg-black grid place-items-center text-white pb-5">
  <img class="py-10 mx-auto max-w-sm w-full invert" src="/logo-v2.svg" />

  <p>@ {new Date().getFullYear()}. Todos los derechos reservados.</p>
</footer>
