<footer class="bg-black grid place-items-center text-white pb-5">
  <img src="/logo-circle-black.svg" alt="" class="invert w-full max-w-xs" />

  <p>@ {new Date().getFullYear()}. Todos los derechos reservados.</p>
</footer>
