---
export interface Props {
  title: string
}

import Metatags from '../components/Metatags.astro'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <meta name="generator" content={Astro.generator} />
    <Metatags />
    <title>{title}</title>
    <link rel="stylesheet" href="https://use.typekit.net/pqs8mbe.css" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), url('/fonts/Lato-Regular.woff2') format('woff2'),
      url('/fonts/Lato-Regular.ttf') format('truetype');
  }
</style>
