---
export interface Props {
  title: string
}

import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer'
import Metatags from '../components/Metatags.astro'

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <meta name="generator" content={Astro.generator} />
    <Metatags />
    <title>{title}</title>
    <link rel="stylesheet" href="https://use.typekit.net/pqs8mbe.css" />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap"
    />
  </head>
  <body class="font-inter">
    <slot />
    <style is:global>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
